
h1 {
    font-size: 100px;
    text-align: center;
    margin: 50px;
}

h2 {

    font-size: 50px;
    text-align: center;
    margin: 10px;
}

p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 10px;
}
img {
    display: block;
    margin: auto;
    box-shadow: 8px 8px 5px #565656;
}
select {
    display: block;
    margin: auto;
    text-decoration: none;

}

#button, #sort {
    display: block;
    text-align: center;
    margin-top: 10px;   
}

button {
    background-color: #503b75;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

label {
    font-size: 24px;
   
}
#sort {
    margin: 20px;
}

